@model IEnumerable<SpotDemo.Models.Cricketer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Centuries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiveFors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Centuries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiveFors)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PlayerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PlayerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PlayerId })
            </td>
        </tr>
}
    </tbody>
</table>
