@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    <h2>@ViewBag.Id</h2>
    <h2>@ViewBag.A</h2>
    <h2>@ViewBag.B</h2>
    <h2>@ViewBag.C</h2>
}


my html page <br/>

@{
    String s = "abc";
    int i = 501;
}

@{
    if (i % 2 == 0)
    {
        <h1>@i -> </h1>@:Number is even
        <br/>
    } else
    {
        <h2>@i -> is odd</h2>
        <br/>
    }
}

<table border="1" cellpadding="5">
    @{
        for(int j=1; j<=10; j++)
        {
            
            <tr>
                <td>@ViewBag.A</td>
                <td>*</td>
                <td>@j</td>
                <td>=</td>
                <td>@(j*ViewBag.A)</td>
            </tr>
        }
    }
</table>

